

.LoginPage-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.welcome-text h1{
    color: var(--eco-green);
    font-size: 32px;
    font-weight: var(--fw-bold);
}

.log-or-sign{
    display: flex;
    flex-direction: column;
}

.email-phone{
    font-family: var(--manrope-primary);
    font-weight: var(--fw-bold);
    color: var(--eco-green);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 8
}
.password{
    font-family: var(--manrope-primary);
    color: var(--eco-green);
    font-weight: var(--fw-bold);
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.custom-input{
    width: 400px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid var(--eco-green);
    font-size: 16px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.login-btn{
    width: 390px;
    height: 45px;
    font-size: 16px;
    border-radius: 12px;
    color: var(--eco-green);
    cursor: pointer;
    border: 1px solid var(--eco-green);
}

.login-btn:hover{
    background-color: var(--eco-green);
    transform: var(--transform);
    transition: var(--transition);
    color: var(--white);
}

.login-btn-container{
    display: flex;
    justify-content: center;
}
.forgot-pass{
    display: flex;
    justify-content: end;
    color: var(--eco-green);
    cursor: pointer;
}
.forgot-pass p:hover{
    color: var(--trust-blue);
    text-decoration: underline;
    transform: var(--transform);
    transition: var(--transition);
}

.create-acc-container{
    display: flex;
    justify-content: center;
}

.create-acc-btn{
    width: 390px;
    height: 45px;
    font-size: 16px;
    border-radius: 12px;
    color: var(--eco-green);
    cursor: pointer;
    border: 1px solid var(--eco-green);
}

.create-acc-btn:hover{
    background-color: var(--eco-green);
    color: var(--white);
    transform: var(--transform);
    transition: var(--transition);
}

.divider{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: var(--eco-green);
    font-family: var(--manrope-primary);
    font-size: 14px;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--eco-green);
}

.divider:not(:empty)::before {
    margin-right: .5em;
  }

.divider:not(:empty)::after {
    margin-left: .5em;
}

.google-container p{
    width: 400px;
    height: 45px;
    font-size: 16px;
    border-radius: 12px;
    color: var(--eco-green);
    cursor: pointer;
    border: 1px solid var(--eco-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-container p:hover{
    color: var(--white);
    background-color: var(--eco-green);
    transform: var(--transform);
    transition: var(--transition);
}

@media screen and (max-width: 920px) {

    .LoginPage-container{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .email-phone, .password{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .custom-input{
        width: 300px;
        height: 50px;
        border-radius: 12px;
        border: 2px solid var(--eco-green);
        font-size: 16px;
        padding: 5px 10px;
        box-sizing: border-box;
    }

    .login-btn{
        width: 290px;
        height: 45px;
        font-size: 16px;
        border-radius: 12px;
        color: var(--eco-green);
        cursor: pointer;
        border: 1px solid var(--eco-green);
    }

    .create-acc-btn{
        width: 290px;
        height: 45px;
        font-size: 16px;
        border-radius: 12px;
        color: var(--eco-green);
        cursor: pointer;
        border: 1px solid var(--eco-green);
    }

    .forgot-pass{
        display: flex;
        justify-content: center;
        font-size: 14px;
    }

    .forgot-pass p:hover{
        color: var(--trust-blue);
        text-decoration: underline;
    }

    .divider{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 20px 0;
        font-size: 16px;
        font-weight: var(--fw-bold);
    }

    .divider::before, ::after{
        display: none;
    }

    .google-container p{
        width: 300px;
        height: 45px;
        font-size: 16px;
        border-radius: 12px;
    }
}