.rewards {
  background: var(--bg-grey);
  border: 1px solid var(--border-grey);
  padding: 20px;
  border-radius: 8px;
}

.rewards h1 {
  margin-bottom: 10px;
}

.rewards p {
  color: var(--text-muted);
}


/* Mobile responsiveness */
@media (max-width: 365px) {
  .rewards {
    padding: 15px;
  }

  .rewards h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .rewards p {
    font-size: 0.9rem;
    text-align: center;
  }
}
